body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #f0f0f0;
    background-image: url('background1.png');
    background-size: cover; 
    background-position: center;
}

.title {
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    margin-left: 20px;
}

.stamped-image {
    position: absolute;
    width: 250px; 
    height: 350px;
    filter: drop-shadow(0 0 0.75rem white);
}

/* ON MOBILE RESIzE*/
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    .title{
    font-size: 20px;
    }
}
